
/* Tablet View */
@media (min-width: 500px) {
    .banner_img_mb_tb {
        width: 1000px;
    }
}

@media (min-width: 768px) {

    .bnr_info{
        width: 478px;
    }

    .bnr_info h2{
        font-size: 60px;
    }
    
    .btm1_btns a{
        width: 704px; 
    }

    .btm2_flexcon {
        width: 704px; 
    }

    .bnr_info a{
        letter-spacing: -1px;
    }

}


@media (min-width: 992px) {

    :root {
    
        /* Font Size */
        --bodyFontSize: 24px;
    }


    .wrapper{ 
        position:relative;
        width:100%; 
        max-width:1670px; 
        margin:0 auto; 
    }

    header small{
        font-weight: bold;
    }

    .nav_links {
        display: block; /* Always show on larger screens */
        max-height: none; /* No max-height needed */
    }
    .nav_toggle_con {
        display: none; /* Hide toggle on larger screens */
    }

    .bnr_info{
        left: 0!important;
        transform: none!important;
        width: 623px;
    }

    .bnr_info h2{
        font-size: 90px;
    }

    .bnr_info a{
        font-size: 24px;
        width: 288px;
        line-height: 61px;
    }
    

    .btm2_flex1{
        width: 256px;
    }

    .nav_links a{
        font-size: 16px;
    }
}

/* Desktop View*/

@media (min-width: 1200px) {
    .btm2_flexcon{
        width: 100%;
    }

    .btm2_flex2{
        width: 75%;
    }
    
    .nav_links a{
        font-size: 16px;
    }

    
    .banner_img2{
        width: 770px;
    }
}

/* desktop */
@media (min-width: 1670px) {
    .btnStyle2{
        font-size: 32px;
    }

    .nav_links a{
        font-size: 18px;
    }
}